<!DOCTYPE html> 
<html lang="pt-br"><!-- Setando o idioma em que o site será criado. -->

<!-- Tudo relacionado a cabeça do site, ou seja, como ele será apresentado no navegador. -->
<head>

<!-- Título que aparecerar na guia do seu navegador -->
<title> 
    Black Cat 
</title>
<link rel="SHORTCUT ICON" href="Black Cat.jpg" type="image/x-icon" /> <!-- Icone que representará seu site. -->
<meta charset="utf-8"> <!-- Tag meta que faz com que o site aceite caracteres especiaois usados no Brasil. -->
<meta name="description" content="Um jogo divertido com um gato preto!"/> <!-- Uma breve descrição de como é o seu site, caso não seja preenchido vai pegar um trecho do site. -->
<meta name="keywords" content="Gato, Preto, Cat, Black, Black Cat, Gato preto, Jogos de Gato" /><!-- Ajuda o Google a localizar seu site e passar para usuários quando buscarem. -->
<meta name="author" content="Luiz Teixeira"/><!-- Nome do autor do Site. -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/> <!-- Uma tag valtada a retrocompatibilidade com os tamanhos diferentes de telas que seram apresentados os sites. -->
<link href="" rel="stylesheet">


<!-- Estilizando o Site -->
<style>
    .div1{
        width: 500px;
        height: 500px;
        background-color: pink;
    }

</style>


    
</head>
   
<!-- Corpo do Site -->
<body> 
    <h1>Bem vindo ao melhor jogo de gatos do mundo!</h1> <!-- Titulo -->
    <!-- Uma divisão dentro do site. -->
    <div class="div1"> 
        <p> Um jogo sobre um gato preto que explora o mundo! </p> <!-- Paragrafo -->
    </div>

</body>
<!-- Rodapé do Site. -->
<footer>


</footer>


</html>



